/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom site styles */

/*  Using Major Third Modular Scale:
  http://www.modularscale.com/?18&px&1.25&web&text */

/* Base Styles */
/* Hint: html element selectors: html, body, p, h2, etc. */
 
 body {
  background-color: #4A4A4A; /* charcoal */
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 1em; /* 18px/18px = 1 */
  color: #F3F3F3; /* white smoke */
  line-height: 1.25em; /* 22.5px / 18px */
  padding-top: 1.25em; /* 22.5px / 18px */
  padding-bottom: 1.25em; /* 22.5px / 18px */
  padding-left: 1.125em; /* 4:5 ratio on baseline */
  padding-right: 1.125em; /* 4:5 ratio on baseline */
  text-size-adjust: 100%;
  text-align: left;
 }
 
 h1 {
  text-decoration: none;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  color: #FFCD38; /* sunglow */
  font-size: 1.953111111111111em; /* 35.156 / 18px */
  line-height: 1.2800091022869495; /* 22.5px * 2 / 35.156 */
  padding-top: 0.6400045511434748em; /* 22.5px / 35.156 */
  padding-bottom: 0.6400045511434748em; /* 22.5px / 35.156 */
  text-align: center;
 }
 
 h2 {
  text-decoration: none;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  color: #FFCD38; /* sunglow */
  font-size: 1.953111111111111em; /* 35.156 / 18px */
  line-height: 1.2800091022869495; /* 22.5px * 2 / 35.156 */
  padding-top: 0.6400045511434748em; /* 22.5px / 35.156 */
  padding-bottom: 0.6400045511434748em; /* 22.5px / 35.156 */
  text-align: left;
 }
 
  h3 {
  font-family: 'Merriweather', serif;
  font-weight: bold;
  color: #F3F3F3; /* white smoke */
  font-size: 1.25em; /* 22.5px / 18px */
  line-height: 1.2800091022869495; /* 22.5px * 2 / 35.156 */
  padding-top: 0.6400045511434748em; /* 22.5px / 35.156 */
  padding-bottom: 0.6400045511434748em; /* 22.5px / 35.156 */
  text-align: left;
 }
 
   h4 {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 1em; /* 18px/18px = 1 */
  color: #F3F3F3; /* white smoke */
  line-height: 1.25em; /* 22.5px / 18px */
  padding-top: 1.25em; /* 22.5px / 18px */
  padding-bottom: 1.25em; /* 22.5px / 18px */
  padding-left: 1.125em; /* 4:5 ratio on baseline */
  padding-right: 1.125em; /* 4:5 ratio on baseline */
  text-size-adjust: 100%;
  text-align: left;
 }
 
 h5 {
  text-decoration: none;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  color: #FFCD38; /* sunglow */
  font-size: 1.2800091022869495em; /* 22.5px * 2 / 35.156 */
  line-height: 1.2800091022869495em; /* 22.5px * 2 / 35.156 */
  padding-top: 0.6400045511434748em; /* 22.5px / 35.156 */
  padding-bottom: 0.6400045511434748em; /* 22.5px / 35.156 */
  text-align: left;
 }
 
p {
  line-height: 1.25em; /* 22.5px / 18px */
  padding-bottom: 1.25em; /* 22.5px / 18px */
  text-align: left;
}

img {
  display: block;
  max-width: 100%;
  text-align: center;
}

/* Layout Styles */
/* Hint: ID selectors: #header, #navigation, #footer, etc. */

#header {
  font-weight: 500;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  color: #F3F3F3; /* white smoke */
  font-size: 1.25em; /* 22.5px / 18px */
  line-height: 1.2800091022869495; /* 22.5px * 2 / 35.156 */
  padding-top: 0.6400045511434748em; /* 22.5px / 35.156 */
  padding-bottom: 0.6400045511434748em; /* 22.5px / 35.156 */
  text-align: left;
}

#footer {
  font-size: 0.6400045511434748em; /* 22.5px / 35.156 */
  color: #F3F3F3; /* white smoke */
  padding-top: 1.25em; /* 22.5px / 18px */
  padding-bottom: 1.25em; /* 22.5px / 18px */
}

#posts {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 1em; /* 18px/18px = 1 */
  color: #F3F3F3; /* white smoke */
  line-height: 1.25em; /* 22.5px / 18px */
  padding-top: 1.25em; /* 22.5px / 18px */
  padding-bottom: 1.25em; /* 22.5px / 18px */
  padding-left: 1.125em; /* 4:5 ratio on baseline */
  padding-right: 1.125em; /* 4:5 ratio on baseline */
  text-size-adjust: 100%;
  text-align: center;
}
  

/* Module Styles */
/* Hint: Class selectors: .video, .diagram, .pullquote */

.figure {
  padding-left: 12.5%;
  padding-right: 12.5%;
}

.profile { 
  background-color: #00A5AA; /* dark cyan */
  display: block;
  max-width: 100%;
  text-align: center;
}

/*CONTACT INFO*/
.printcontact {
  display:none;
}

.screencontact {
  text-align: center;
  padding-bottom: 1%
}

.screencontact2 {
  text-align: center;
  padding-bottom: 1%
}

.email {
  padding-left: 5%;
  padding-right: 0%;
  display: inline-block;
  vertical-align: middle;
  color: #252445;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 0.8em;
  text-decoration: none;
}

.phone {
  padding-left: 10%;
  padding-right: 10%;
  display: inline-block;
  vertical-align: middle;
  color: #252445;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 0.8em;
  text-decoration: none;
}

.address {
  padding-left: 0%;
  padding-right: 5%;
  display: inline-block;
  vertical-align: middle;
  color: #252445;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 0.8em;
  text-decoration: none;
}

a.address:hover {
   display: alt-text;
   }
   
/*LISTS*/
.listheader1 { 
  font-weight: 500;
  color: #FFCD38; /* sunglow */
}

.listheader2 { 
  font-weight: bold;
  font-size: 1em; /* 18px/18px = 1 */
  color: #F3F3F3; /* white smoke */
}

.list { 
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1em; /* 18px/18px = 1 */
  color: #F3F3F3; /* white smoke */  
  list-style: circle inside;
}

.sublist { 
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1em; /* 18px/18px = 1 */
  color: #F3F3F3; /* white smoke */  
  list-style: circle inside;
}

/*List Link Styles*/
.list a:link{
  color: #00dee6; /* cyan */
  text-shadow: 0 0 1px #999;
  text-decoration: none;
}

.list a:visited{
  color: #00A5AA; /* dark cyan */
  text-decoration: none;
}

.list a:active { 
  padding-top: 2px; 
}

/*HAMBURGER MENU*/
/*Designed by Erik Terwan*/

a{
  text-decoration: none;
  color: #00A5AA; /* dark cyan */
  
  transition: color 0.3s ease;
}

a:hover{
  color: tomato;
}

#menuToggle{
  display: block;
  position: relative;
  top: 50px;
  left: 20px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}
/*invisible checkbox*/
#menuToggle input{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}
/*hamburger slices*/
#menuToggle span{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2){
  transform-origin: 0% 100%;
}

/* Transform all the slices of hamburger into a crossmark.*/
#menuToggle input:checked ~ span{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3){
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2){
  transform: rotate(-45deg) translate(0, -1px);
}

/*Make this absolute positioned at the top left of the screen*/
#menu{
  position: absolute;
  width: 200px;
  margin: -50px 0 0 -20px;
  padding: 10px;
  padding-top: 70px;
  background: #F3F3F3; /* white smoke */
  box-shadow: 0 0 20px #333333;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-200%, 0);
  
  transition: transform 0.01s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li{
  padding: 10px 0;
  font-size: 17px;
}

/*slides it in from the left*/
#menuToggle input:checked ~ ul{
  transform: none;
}

/*TOP NAVIGATION*/
.topnav {
    background-color: #4A4A4A; /* charcoal */
    overflow: hidden;
}

/* Top navigation link styles */
.topnav a {
    float: left;
    color: #F3F3F3; /* white smoke */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #FFCD38; /* sunglow */
    color: #4A4A4A; /* charcoal */
}

.topnav a.active {
    background-color: #00A5AA; /* dark cyan */
    color: #F3F3F3; /* white smoke */
}

.content {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 1em; /* 18px/18px = 1 */
  text-align: left;
}

.photo {
  background: #bababa;
  padding: 12.5%;
}

.highres {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 0.6400045511434748em; /* 22.5px / 35.156 */
  text-align: center;
  padding-bottom: 1.25em; /* 22.5px / 18px */
}

.text {
  background: #bababa;
  padding: 12.5%;
}

.header img {
  float: left;
  width: 35px;
  height: 35px;
  padding-top: 24px;
  padding-right: 1em;
  padding-left: 6px;
}

.header h5 {
  padding-top: 28px;
  padding-right: 1em;
  padding-left: 6px;
}

.profile h1{
  text-align: left;
}

.profile p{
  text-align: left;
}

img.avatar {
    display: block;
    margin: 0 auto;
}

p.description {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 1em; /* 18px/18px = 1 */
  text-align: center;
}

header a.title{ 
  font-family: 'Merriweather', serif;
  font-weight: bold;
  color: #252445; /* www.hexcolortool.com */
  font-size: 1.953111111111111em; /* 35.156 / 18px */
  line-height: 1.2800091022869495; /* 22.5px * 2 / 35.156 */
  padding-top: 0.6400045511434748em; /* 22.5px / 35.156 */
  padding-bottom: 0.6400045511434748em; /* 22.5px / 35.156 */
  text-decoration: none;
}
   
a.title:hover {
   color: #f0ca4c;
}
   
a.title:active {
   background: #bababa;
}

h2 a.post{ 
  font-family: 'Merriweather', serif;
  font-weight: bold;
  color: #252445; /* www.hexcolortool.com */
  font-size: 1.2800091022869495; /* 22.5px * 2 / 35.156 */
  line-height: 1.2800091022869495; /* 22.5px * 2 / 35.156 */
  padding-top: 0.6400045511434748em; /* 22.5px / 35.156 */
  padding-bottom: 0.6400045511434748em; /* 22.5px / 35.156 */
  text-size-adjust: 100%;
  text-decoration: none;
}
   
a.post:hover {
   color: #f0ca4c;
}
   
a.post:active {
   background: #bababa;
}


/* State Styles */
/* Hint: JavaScript-based styles: .nojs, .js, .is-active, .is-hidden */
/* Within state, repeat the base, layout, and modular structure: */

/* Media Query Styles */

@media screen and (min-width: 840px) {
    
  body {
    width: 70%;
    padding-left: 15%;
  }
  
  .header img {
    float: left;
    width: 70px;
    height: 70px;
    padding-top: 6px;
    padding-right: 1em;
    padding-left: 6px;
}

  .header h5 {
    text-decoration: none;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    color: #FFCD38; /* sunglow */
    font-size: 1.953111111111111em; /* 35.156 / 18px */
    line-height: 1.2800091022869495em; /* 22.5px * 2 / 35.156 */
    padding-top: 0.6400045511434748em; /* 22.5px / 35.156 */
    padding-bottom: 0.6400045511434748em; /* 22.5px / 35.156 */
    text-align: left;
 }

